/*------------   Colores   ------------*/
$color-titulo:  #D36135;
$bg-color-body: #9b969e;
$bg-color-section:   #cdc5b4;
$borde-color:   black;
$boton-nav-color:  #aaa498;
/*------------------------*/

$margen-section: 40px;

$font-size: 60px, 35px, 30px;

%grid-salones{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
}

@mixin flex-section($display, $direction, $justify, $align, $align-item){
    background-color: $bg-color-section;
    border: 3px $borde-color solid;
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-content: $align;
    align-items: $align-item;
    margin: $margen-section;
}

@mixin flex($display-f, $direction-f, $justify-f,$content-f, $align-f){
    display: $display-f;
    flex-direction: $direction-f;
    justify-content: $justify-f;
    align-content: $content-f;
    align-items: $align-f;
}

